@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
 

 


.aboutus-title {
    margin-top: 150px;
    text-align: center;
    font-size:22px ;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
  
    color: #29A9E1;
}

.aboutus-des1 {
    margin-top: 10px;
    text-align: center;
    font-size:39px ;
    font-weight: 500;
    margin-bottom: 30px;
    font-family: "Poppins", sans-serif;
  

}





.aboutus-des{
   
    text-align: center;
    font-size:17px ;
    font-weight: 500;
    margin-bottom: 10px;
    text-align: center;
    margin-top: 40px;
    width: 700px;
    margin-left: 20px;
}
.aboutus-img{
        margin-left: 20px;
        margin-top: 10px;
    width: 240px;
    height: 200px;
    border-radius: 30%;
}

.aboutus-costumer{
    text-align: center;
    margin-top: 190px;
    font-size: 25px;
    font-weight: 500;

}

.aboutus-changecard{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
   margin-left: 500px;
margin-top: 220px;}

#fill{
    background-color: #29A9E1;

}

.circle{
    border-radius: 50%;
    width: 10px;
    background-color: #B8E2EF;
    height: 10px;
}

@media(max-width:900px){
    
    .aboutus-des1 {
         
        width: 360px;
    
    }
    
.aboutus-des{
   
 
    margin-bottom: 10px;
 
    margin-top: 40px;
    height: 730px;
    width: 330px;
   
}
.aboutus-costumer{
    margin-top: -90px;
    margin-bottom: 50px;
    

}
.aboutus-img{
 margin-left: 20px;
    text-align: center;
 margin-top: 10px;
width: 300px;
height: 300px;
border-radius: 30%;
}
.aboutus-changecard{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
     margin-left:  160px;
margin-top: 550px;}

  
 
}